name: Lint Code (Golint)

on: push

permissions:
  contents: read

defaults:
  run:
    working-directory: ./

jobs:
  code-linting:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: Run GolangCILint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
